@model IEnumerable<nGenie.WebAnalysis.Application.Models.MyCategoriaFiltro>
@using Microsoft.AspNet.Identity
<div id="filterTree">

    @*@if (Request.IsAuthenticated)
        {
            <div class="main-menu-header">
                <img class="img-80 img-radius" src="~/Content/assets/images/logo.png" alt="User-Profile-Image" />
                <div class="user-details">
                    <span id="more-details">@User.Identity.GetUserName()<i class="fa fa-caret-down"></i></span>
                </div>
            </div>
            <div class="main-menu-content">
                <ul>
                    <li class="more-details">
                        @*<a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
                        <a href="#!"><i class="ti-settings"></i>Settings</a>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="ti-layout-sidebar-left"></i>Logout</a>
                    </li>
                </ul>
            </div>
        }*@


    @{Html.RenderPartial("~/Views/Shared/NavBar/_FiltersTreeview.cshtml", Model);}

</div>
@*</nav>
    </div>*@

@*MenuTrigger: 'click',
    SubMenuTrigger: 'click',*@